html {
    background: #101020;
    min-height: 100%;
    color: #FFFFFF;
}

body {
    background: #151525;
    width: 720px;
    height: 100%;
    margin: auto;
}

.page {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.block {
    padding-top: 30px;
}

p {
    padding-bottom: 3px;
}

a:link {
    color: hotpink;
}

a:visited {
    color: hotpink;
}

a:hover {
    color: hotpink;
}

a:active {
    color: hotpink;
} 

h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    padding-top: 30px;
}

ul {
    list-style-type: circle;
}

li {
    padding-bottom: 3px;
}
