<!DOCTYPE html>
<html>
  <head>
    <title>Tore%PAGE_TITLE%</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    %#include PAGE_BODY%
  </body>
</html>
